/*!
 *
 *  Project:  GLYPHICONS gl
 *  Author:   Jan Kovarik - www.glyphicons.com
 *  Twitter:  @jankovarik
 *
 */
html,
html .gl {
  -webkit-font-smoothing: antialiased !important;
}
@font-face {
  font-family: 'Glyphicons gl';
  src: url('../font/glyphiconshalflings-regular.eot');
  src: url('../font/glyphiconshalflings-regular.eot?#iefix') format('embedded-opentype'), url('../font/glyphiconshalflings-regular.woff') format('woff'), url('../font/glyphiconshalflings-regular.ttf') format('truetype'), url('../font/glyphiconshalflings-regular.svg#glyphicons_glregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.gl {
  display: inline-block;
  position: relative;
  padding: 0 0 0 25px;
  text-decoration: none;
  font: 12px/1em 'Glyphicons gl';
  font-style: normal;
}
.gl.white:before {
  color: #fff;
}
.gl.glass:before {
  content: "\e001";
}
.gl.music:before {
  content: "\e002";
}
.gl.search:before {
  content: "\e003";
}
.gl.envelope:before {
  content: "\2709";
}
.gl.heart:before {
  content: "\e005";
}
.gl.star:before {
  content: "\e006";
}
.gl.star-empty:before {
  content: "\e007";
}
.gl.user:before {
  content: "\e008";
}
.gl.film:before {
  content: "\e009";
}
.gl.th-large:before {
  content: "\e010";
}
.gl.th:before {
  content: "\e011";
}
.gl.th-list:before {
  content: "\e012";
}
.gl.ok:before {
  content: "\e013";
}
.gl.remove:before {
  content: "\e014";
}
.gl.zoom-in:before {
  content: "\e015";
}
.gl.zoom-out:before {
  content: "\e016";
}
.gl.off:before {
  content: "\e017";
}
.gl.signal:before {
  content: "\e018";
}
.gl.cog:before {
  content: "\e019";
}
.gl.trash:before {
  content: "\e020";
}
.gl.home:before {
  content: "\e021";
}
.gl.file:before {
  content: "\e022";
}
.gl.time:before {
  content: "\e023";
}
.gl.road:before {
  content: "\e024";
}
.gl.download-alt:before {
  content: "\e025";
}
.gl.download:before {
  content: "\e026";
}
.gl.upload:before {
  content: "\e027";
}
.gl.inbox:before {
  content: "\e028";
}
.gl.play-circle:before {
  content: "\e029";
}
.gl.repeat:before {
  content: "\e030";
}
.gl.refresh:before {
  content: "\e031";
}
.gl.list-alt:before {
  content: "\e032";
}
.gl.lock:before {
  content: "\e033";
}
.gl.flag:before {
  content: "\e034";
}
.gl.headphones:before {
  content: "\e035";
}
.gl.volume-off:before {
  content: "\e036";
}
.gl.volume-down:before {
  content: "\e037";
}
.gl.volume-up:before {
  content: "\e038";
}
.gl.qrcode:before {
  content: "\e039";
}
.gl.barcode:before {
  content: "\e040";
}
.gl.tag:before {
  content: "\e041";
}
.gl.tags:before {
  content: "\e042";
}
.gl.book:before {
  content: "\e043";
}
.gl.bookmark:before {
  content: "\e044";
}
.gl.print:before {
  content: "\e045";
}
.gl.camera:before {
  content: "\e046";
}
.gl.font:before {
  content: "\e047";
}
.gl.bold:before {
  content: "\e048";
}
.gl.italic:before {
  content: "\e049";
}
.gl.text-height:before {
  content: "\e050";
}
.gl.text-width:before {
  content: "\e051";
}
.gl.align-left:before {
  content: "\e052";
}
.gl.align-center:before {
  content: "\e053";
}
.gl.align-right:before {
  content: "\e054";
}
.gl.align-justify:before {
  content: "\e055";
}
.gl.list:before {
  content: "\e056";
}
.gl.indent-left:before {
  content: "\e057";
}
.gl.indent-right:before {
  content: "\e058";
}
.gl.facetime-video:before {
  content: "\e059";
}
.gl.picture:before {
  content: "\e060";
}
.gl.pencil:before {
  content: "\270f";
}
.gl.map-marker:before {
  content: "\e062";
}
.gl.adjust:before {
  content: "\e063";
}
.gl.tint:before {
  content: "\e064";
}
.gl.edit:before {
  content: "\e065";
}
.gl.share:before {
  content: "\e066";
}
.gl.check:before {
  content: "\e067";
}
.gl.move:before {
  content: "\e068";
}
.gl.step-backward:before {
  content: "\e069";
}
.gl.fast-backward:before {
  content: "\e070";
}
.gl.backward:before {
  content: "\e071";
}
.gl.play:before {
  content: "\e072";
}
.gl.pause:before {
  content: "\e073";
}
.gl.stop:before {
  content: "\e074";
}
.gl.forward:before {
  content: "\e075";
}
.gl.fast-forward:before {
  content: "\e076";
}
.gl.step-forward:before {
  content: "\e077";
}
.gl.eject:before {
  content: "\e078";
}
.gl.chevron-left:before {
  content: "\e079";
}
.gl.chevron-right:before {
  content: "\e080";
}
.gl.plus-sign:before {
  content: "\e081";
}
.gl.minus-sign:before {
  content: "\e082";
}
.gl.remove-sign:before {
  content: "\e083";
}
.gl.ok-sign:before {
  content: "\e084";
}
.gl.question-sign:before {
  content: "\e085";
}
.gl.info-sign:before {
  content: "\e086";
}
.gl.screenshot:before {
  content: "\e087";
}
.gl.remove-circle:before {
  content: "\e088";
}
.gl.ok-circle:before {
  content: "\e089";
}
.gl.ban-circle:before {
  content: "\e090";
}
.gl.arrow-left:before {
  content: "\e091";
}
.gl.arrow-right:before {
  content: "\e092";
}
.gl.arrow-up:before {
  content: "\e093";
}
.gl.arrow-down:before {
  content: "\e094";
}
.gl.share-alt:before {
  content: "\e095";
}
.gl.resize-full:before {
  content: "\e096";
}
.gl.resize-small:before {
  content: "\e097";
}
.gl.plus:before {
  content: "\002b";
}
.gl.minus:before {
  content: "\2212";
}
.gl.asterisk:before {
  content: "\002a";
}
.gl.exclamation-sign:before {
  content: "\e101";
}
.gl.gift:before {
  content: "\e102";
}
.gl.leaf:before {
  content: "\e103";
}
.gl.fire:before {
  content: "\e104";
}
.gl.eye-open:before {
  content: "\e105";
}
.gl.eye-close:before {
  content: "\e106";
}
.gl.warning-sign:before {
  content: "\e107";
}
.gl.plane:before {
  content: "\e108";
}
.gl.calendar:before {
  content: "\e109";
}
.gl.random:before {
  content: "\e110";
}
.gl.comments:before {
  content: "\e111";
}
.gl.magnet:before {
  content: "\e113";
}
.gl.chevron-up:before {
  content: "\e113";
}
.gl.chevron-down:before {
  content: "\e114";
}
.gl.retweet:before {
  content: "\e115";
}
.gl.shopping-cart:before {
  content: "\e116";
}
.gl.folder-close:before {
  content: "\e117";
}
.gl.folder-open:before {
  content: "\e118";
}
.gl.resize-vertical:before {
  content: "\e119";
}
.gl.resize-horizontal:before {
  content: "\e120";
}
.gl.hdd:before {
  content: "\e121";
}
.gl.bullhorn:before {
  content: "\e122";
}
.gl.bell:before {
  content: "\e123";
}
.gl.certificate:before {
  content: "\e124";
}
.gl.thumbs-up:before {
  content: "\e125";
}
.gl.thumbs-down:before {
  content: "\e126";
}
.gl.hand-right:before {
  content: "\e127";
}
.gl.hand-left:before {
  content: "\e128";
}
.gl.hand-top:before {
  content: "\e129";
}
.gl.hand-down:before {
  content: "\e130";
}
.gl.circle-arrow-right:before {
  content: "\e131";
}
.gl.circle-arrow-left:before {
  content: "\e132";
}
.gl.circle-arrow-top:before {
  content: "\e133";
}
.gl.circle-arrow-down:before {
  content: "\e134";
}
.gl.globe:before {
  content: "\e135";
}
.gl.wrench:before {
  content: "\e136";
}
.gl.tasks:before {
  content: "\e137";
}
.gl.filter:before {
  content: "\e138";
}
.gl.briefcase:before {
  content: "\e139";
}
.gl.fullscreen:before {
  content: "\e140";
}
.gl.dashboard:before {
  content: "\e141";
}
.gl.paperclip:before {
  content: "\e142";
}
.gl.heart-empty:before {
  content: "\e143";
}
.gl.link:before {
  content: "\e144";
}
.gl.phone:before {
  content: "\e145";
}
.gl.pushpin:before {
  content: "\e146";
}
.gl.euro:before {
  content: "\20ac";
}
.gl.usd:before {
  content: "\e148";
}
.gl.gbp:before {
  content: "\e149";
}
.gl.sort:before {
  content: "\e150";
}
.gl.sort-by-alphabet:before {
  content: "\e151";
}
.gl.sort-by-alphabet-alt:before {
  content: "\e152";
}
.gl.sort-by-order:before {
  content: "\e153";
}
.gl.sort-by-order-alt:before {
  content: "\e154";
}
.gl.sort-by-attributes:before {
  content: "\e155";
}
.gl.sort-by-attributes-alt:before {
  content: "\e156";
}
.gl.unchecked:before {
  content: "\e157";
}
.gl.expand:before {
  content: "\e158";
}
.gl.collapse:before {
  content: "\e159";
}
.gl.collapse-top:before {
  content: "\e160";
}
.gl-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(../images/glyphicons_gl.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  *margin-right: .3em;
}
.no-inlinesvg .gl-icon {
  background-image: url(../images/glyphicons_gl.png);
}
.gl-icon.white {
  background-image: url(../images/glyphicons_gl-white.svg);
}
.no-inlinesvg .gl-icon.white {
  background-image: url(../images/glyphicons_gl-white.png);
}
.gl-icon.glass {
  background-position: 0 0;
}
.gl-icon.music {
  background-position: -24px 0;
}
.gl-icon.search {
  background-position: -48px 0;
}
.gl-icon.envelope {
  background-position: -72px 0;
}
.gl-icon.heart {
  background-position: -96px 0;
}
.gl-icon.star {
  background-position: -120px 0;
}
.gl-icon.star-empty {
  background-position: -144px 0;
}
.gl-icon.user {
  background-position: -168px 0;
}
.gl-icon.film {
  background-position: -192px 0;
}
.gl-icon.th-large {
  background-position: -216px 0;
}
.gl-icon.th {
  background-position: -240px 0;
}
.gl-icon.th-list {
  background-position: -264px 0;
}
.gl-icon.ok {
  background-position: -288px 0;
}
.gl-icon.remove {
  background-position: -312px 0;
}
.gl-icon.zoom-in {
  background-position: -336px 0;
}
.gl-icon.zoom-out {
  background-position: -360px 0;
}
.gl-icon.off {
  background-position: -384px 0;
}
.gl-icon.signal {
  background-position: -408px 0;
}
.gl-icon.cog {
  background-position: -432px 0;
}
.gl-icon.trash {
  background-position: -456px 0;
}
.gl-icon.home {
  background-position: 0 -24px;
}
.gl-icon.file {
  background-position: -24px -24px;
}
.gl-icon.time {
  background-position: -48px -24px;
}
.gl-icon.road {
  background-position: -72px -24px;
}
.gl-icon.download-alt {
  background-position: -96px -24px;
}
.gl-icon.download {
  background-position: -120px -24px;
}
.gl-icon.upload {
  background-position: -144px -24px;
}
.gl-icon.inbox {
  background-position: -168px -24px;
}
.gl-icon.play-circle {
  background-position: -192px -24px;
}
.gl-icon.repeat {
  background-position: -216px -24px;
}
.gl-icon.refresh {
  background-position: -240px -24px;
}
.gl-icon.list-alt {
  background-position: -264px -24px;
}
.gl-icon.lock {
  background-position: -287px -24px;
}
.gl-icon.flag {
  background-position: -312px -24px;
}
.gl-icon.headphones {
  background-position: -336px -24px;
}
.gl-icon.volume-off {
  background-position: -360px -24px;
}
.gl-icon.volume-down {
  background-position: -384px -24px;
}
.gl-icon.volume-up {
  background-position: -408px -24px;
}
.gl-icon.qrcode {
  background-position: -432px -24px;
}
.gl-icon.barcode {
  background-position: -456px -24px;
}
.gl-icon.tag {
  background-position: 0 -48px;
}
.gl-icon.tags {
  background-position: -25px -48px;
}
.gl-icon.book {
  background-position: -48px -48px;
}
.gl-icon.bookmark {
  background-position: -72px -48px;
}
.gl-icon.print {
  background-position: -96px -48px;
}
.gl-icon.camera {
  background-position: -120px -48px;
}
.gl-icon.font {
  background-position: -144px -48px;
}
.gl-icon.bold {
  background-position: -167px -48px;
}
.gl-icon.italic {
  background-position: -192px -48px;
}
.gl-icon.text-height {
  background-position: -216px -48px;
}
.gl-icon.text-width {
  background-position: -240px -48px;
}
.gl-icon.align-left {
  background-position: -264px -48px;
}
.gl-icon.align-center {
  background-position: -288px -48px;
}
.gl-icon.align-right {
  background-position: -312px -48px;
}
.gl-icon.align-justify {
  background-position: -336px -48px;
}
.gl-icon.list {
  background-position: -360px -48px;
}
.gl-icon.indent-left {
  background-position: -384px -48px;
}
.gl-icon.indent-right {
  background-position: -408px -48px;
}
.gl-icon.facetime-video {
  background-position: -432px -48px;
}
.gl-icon.picture {
  background-position: -456px -48px;
}
.gl-icon.pencil {
  background-position: 0 -72px;
}
.gl-icon.map-marker {
  background-position: -24px -72px;
}
.gl-icon.adjust {
  background-position: -48px -72px;
}
.gl-icon.tint {
  background-position: -72px -72px;
}
.gl-icon.edit {
  background-position: -96px -72px;
}
.gl-icon.share {
  background-position: -120px -72px;
}
.gl-icon.check {
  background-position: -144px -72px;
}
.gl-icon.move {
  background-position: -168px -72px;
}
.gl-icon.step-backward {
  background-position: -192px -72px;
}
.gl-icon.fast-backward {
  background-position: -216px -72px;
}
.gl-icon.backward {
  background-position: -240px -72px;
}
.gl-icon.play {
  background-position: -264px -72px;
}
.gl-icon.pause {
  background-position: -288px -72px;
}
.gl-icon.stop {
  background-position: -312px -72px;
}
.gl-icon.forward {
  background-position: -336px -72px;
}
.gl-icon.fast-forward {
  background-position: -360px -72px;
}
.gl-icon.step-forward {
  background-position: -384px -72px;
}
.gl-icon.eject {
  background-position: -408px -72px;
}
.gl-icon.chevron-left {
  background-position: -432px -72px;
}
.gl-icon.chevron-right {
  background-position: -456px -72px;
}
.gl-icon.plus-sign {
  background-position: 0 -96px;
}
.gl-icon.minus-sign {
  background-position: -24px -96px;
}
.gl-icon.remove-sign {
  background-position: -48px -96px;
}
.gl-icon.ok-sign {
  background-position: -72px -96px;
}
.gl-icon.question-sign {
  background-position: -96px -96px;
}
.gl-icon.info-sign {
  background-position: -120px -96px;
}
.gl-icon.screenshot {
  background-position: -144px -96px;
}
.gl-icon.remove-circle {
  background-position: -168px -96px;
}
.gl-icon.ok-circle {
  background-position: -192px -96px;
}
.gl-icon.ban-circle {
  background-position: -216px -96px;
}
.gl-icon.arrow-left {
  background-position: -240px -96px;
}
.gl-icon.arrow-right {
  background-position: -264px -96px;
}
.gl-icon.arrow-up {
  background-position: -289px -96px;
}
.gl-icon.arrow-down {
  background-position: -312px -96px;
}
.gl-icon.share-alt {
  background-position: -336px -96px;
}
.gl-icon.resize-full {
  background-position: -360px -96px;
}
.gl-icon.resize-small {
  background-position: -384px -96px;
}
.gl-icon.plus {
  background-position: -408px -96px;
}
.gl-icon.minus {
  background-position: -433px -96px;
}
.gl-icon.asterisk {
  background-position: -456px -96px;
}
.gl-icon.exclamation-sign {
  background-position: 0 -120px;
}
.gl-icon.gift {
  background-position: -24px -120px;
}
.gl-icon.leaf {
  background-position: -48px -120px;
}
.gl-icon.fire {
  background-position: -72px -120px;
}
.gl-icon.eye-open {
  background-position: -96px -120px;
}
.gl-icon.eye-close {
  background-position: -120px -120px;
}
.gl-icon.warning-sign {
  background-position: -144px -120px;
}
.gl-icon.plane {
  background-position: -168px -120px;
}
.gl-icon.calendar {
  background-position: -192px -120px;
}
.gl-icon.random {
  background-position: -216px -120px;
}
.gl-icon.comments {
  background-position: -240px -120px;
}
.gl-icon.magnet {
  background-position: -264px -120px;
}
.gl-icon.chevron-up {
  background-position: -288px -120px;
}
.gl-icon.chevron-down {
  background-position: -313px -119px;
}
.gl-icon.retweet {
  background-position: -336px -120px;
}
.gl-icon.shopping-cart {
  background-position: -360px -120px;
}
.gl-icon.folder-close {
  background-position: -384px -120px;
}
.gl-icon.folder-open {
  background-position: -408px -120px;
}
.gl-icon.resize-vertical {
  background-position: -432px -119px;
}
.gl-icon.resize-horizontal {
  background-position: -456px -118px;
}
.gl-icon.hdd {
  background-position: 0px -144px;
}
.gl-icon.bullhorn {
  background-position: -24px -144px;
}
.gl-icon.bell {
  background-position: -48px -144px;
}
.gl-icon.certificate {
  background-position: -72px -144px;
}
.gl-icon.thumbs-up {
  background-position: -96px -144px;
}
.gl-icon.thumbs-down {
  background-position: -120px -144px;
}
.gl-icon.hand-right {
  background-position: -144px -144px;
}
.gl-icon.hand-left {
  background-position: -168px -144px;
}
.gl-icon.hand-top {
  background-position: -192px -144px;
}
.gl-icon.hand-down {
  background-position: -216px -144px;
}
.gl-icon.circle-arrow-right {
  background-position: -240px -144px;
}
.gl-icon.circle-arrow-left {
  background-position: -264px -144px;
}
.gl-icon.circle-arrow-top {
  background-position: -288px -144px;
}
.gl-icon.circle-arrow-down {
  background-position: -313px -144px;
}
.gl-icon.globe {
  background-position: -336px -144px;
}
.gl-icon.wrench {
  background-position: -360px -144px;
}
.gl-icon.tasks {
  background-position: -384px -144px;
}
.gl-icon.filter {
  background-position: -408px -144px;
}
.gl-icon.briefcase {
  background-position: -432px -144px;
}
.gl-icon.fullscreen {
  background-position: -456px -144px;
}
.gl-icon.dashboard {
  background-position: 0px -168px;
}
.gl-icon.paperclip {
  background-position: -24px -168px;
}
.gl-icon.heart-empty {
  background-position: -48px -168px;
}
.gl-icon.link {
  background-position: -72px -168px;
}
.gl-icon.phone {
  background-position: -96px -168px;
}
.gl-icon.pushpin {
  background-position: -120px -168px;
}
.gl-icon.euro {
  background-position: -144px -168px;
}
.gl-icon.usd {
  background-position: -168px -168px;
}
.gl-icon.gbp {
  background-position: -192px -168px;
}
.gl-icon.sort {
  background-position: -216px -168px;
}
.gl-icon.sort-by-alphabet {
  background-position: -240px -168px;
}
.gl-icon.sort-by-alphabet-alt {
  background-position: -264px -168px;
}
.gl-icon.sort-by-order {
  background-position: -288px -168px;
}
.gl-icon.sort-by-order-alt {
  background-position: -313px -168px;
}
.gl-icon.sort-by-attributes {
  background-position: -336px -168px;
}
.gl-icon.sort-by-attributes-alt {
  background-position: -360px -168px;
}
.gl-icon.unchecked {
  background-position: -384px -168px;
}
.gl-icon.expand {
  background-position: -408px -168px;
}
.gl-icon.collapse {
  background-position: -432px -168px;
}
.gl-icon.collapse-top {
  background-position: -456px -168px;
}
