RewriteEngine on
RewriteCond $1 !^(index\.php|info\.php|test\.php|background\.php|5E87F1543101ABE1DFB899E357999696.txt|staging/|usr/|website/|img/|rcfx/|favicon.ico)
RewriteRule ^(.*)$ index.php?url=$1 [QSA]